.row
  .col-12.col-md-6.offset-md-3
    .card.mt-4.mb-4
      .card-header
        %h2.text-center=title
      .card-body
        = render partial: 'model_errors', locals: { item: @item }
        = form_for @item do |f|
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control'
          .form-group
            = f.label :description
            = f.text_area :description, class: 'form-control'
          .form-group
            = f.label :warehouse
            = f.text_field :warehouse, class: 'form-control'
            .small.text-muted Name of the warehouse where it's stored
          .form-group
            = f.label :stock
            = f.number_field :stock, class: 'form-control'
            .small.text-muted How many items in this warehouse
          .form-group
            = f.submit 'Save', class: 'btn btn-primary'
            = link_to 'Back', root_path, class: 'btn btn-light'
