.card.mb-4.mt-4
  .card-header
    %h3=item.name
  .card-body
    %p=item.description
    .text-muted
      %b=item.stock
      units in
      %b
        =link_to item.warehouse, warehouse_path(item.warehouse)
      warehouse
  .card-footer
    = link_to 'Edit', edit_item_path(item), class: 'card-link'
    = link_to 'Delete', item, method: 'delete', class: 'card-link', data: { confirm: 'Are you sure?' }
