= link_to item, class: 'list-group-item list-group-item-action d-flex justify-content-between align-items-center' do
  = "#{item.name} (#{item.warehouse})"
  %span.badge.badge-primary.badge-pill=item.stock
