.card.mb-4.mt-4
  .card-header
    %h3 Move items to warehouse
  .card-body
    = form_tag move_item_path(item), method: 'put' do
      .form-group
        = text_field_tag "warehouse", "", placeholder: "New warehouse name", class: "form-control"
      .form-group
        = number_field_tag "units", "", placeholder: "Number of units to move", class: "form-control"
      .form-group
        = submit_tag "Move", class: "btn btn-primary"
