.row
  .col-12
    = render partial: 'model_errors', locals: { item: @item }
  .col-12.col-md-4
    = render partial: 'item_details', locals: { item: @item}
  .col-12.col-md-4
    = render partial: 'move_form', locals: { item: @item }
  .col-12.col-md-4
    = render partial: 'move_all_form', locals: { item: @item }
