%h1.text-center.mb-4.mt-4="Warehouse #{@name}"
.text-center
  = link_to "Close warehouse", warehouse_path(@name), method: "delete", class: "btn btn-danger mb-4", data: { confirm: "All stock in this warehouse will be deleted" }
.row
  .col-12.col-md-6.offset-md-3
    - if @items.blank?
      .alert.alert-primary No items in this warehouse
    - else
      .list-group
        = render @items
